<div class="row">
    <div class="col-md-4 settop">
        <div class="setnumber">
            01
        </div>
        <div class="leftheading">
                Robot Task
        </div>           
    </div>   
</div>
<div class="link" style="width :6%;"></div>

<div class="row">
    <div class="col-md-2 mx-auto robotbtn" >
        <img class="img-fluid icon " src="assets/roboticon.jpg">
      <button class="btn btn-dark btn-lg" (click)="addrobot()">ADD ROBOTS</button>

    </div>
    <div class="col-md-9 mx-auto" >
        <img class="img-fluid " src="assets/bot1.jpg">
        <router-outlet></router-outlet>
      </div>
  </div>